.dashboard-bg-con{
    position: relative;
    overflow: hidden !important;
    border-radius: 5px;
}
.dashboard-bg{
    position: relative;
    height: 200px;
    overflow: hidden !important;
}
.dashboard-bg::before{
    position: absolute;
    height: 200px;
    width: 100%;
    content: "";
    background: #ffffff;
    background: -webkit-linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.dashboard-bg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.user-info-dashboard{
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.user-info-dashboard .user-profile{
    width: 110px;
    height: 110px;
    border-radius: 6px;
    overflow: hidden;
    -webkit-box-shadow: 0 9.5px 17px -2.5px #a9a9a9;
    -moz-box-shadow: 0 9.5px 17px -2.5px #a9a9a9;
    box-shadow: 0 9.5px 17px -2.5px #a9a9a9;
}

.user-info-dashboard .user-profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-profile-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user-profile-text h6{
    margin: 0;
    font-size: 1.4em;
}
.user-profile-text span{
    margin: 0;
    font-size: .8em;
    font-weight: 300;
}
.user-profile-text h5{
    margin: 0;
    font-size: 1.2em;
}
