/* CUSTOM ACTION BUTTON */
.action-btn{
    height: 32px;
    border-radius: 5px;
    border: 0;
    padding: 0 10px;
    color: var(--bs-secondary);
    position: relative; 
    background-color: var(--bs-secondary-bg-subtle);
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-btn i{
    font-size: 1em;
}

.action-btn.primary:hover,
.action-btn.primary.active{
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-primary) !important;
    transition: .3s;
}
.action-btn.danger:hover,
.action-btn.danger.active{
    background-color: var(--bs-danger-bg-subtle);
    color: var(--bs-danger) !important;
    transition: .3s;
}
.action-btn.success:hover,
.action-btn.success.active{
    background-color: var(--bs-success-bg-subtle);
    color: var(--bs-success) !important;
    transition: .3s;
}
.action-btn.warning:hover,
.action-btn.warning.active{
    background-color: var(--bs-warning-bg-subtle);
    color: var(--bs-warning) !important;
    transition: .3s;
}

.action-btn .tooltiptext{
    visibility: hidden;
    width: auto;
    background-color: var(--bs-secondary-bg-subtle); 
    color: var(--bs-dark); 
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    transform: translateX(-50%); 
    opacity: 0;
    transition: opacity 0.3s;
    font-size: .9em;
    font-weight: 500;
}

.action-btn .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: var(--bs-secondary-bg-subtle) transparent transparent transparent;
}

.action-btn:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.stick-buttons-group{
    position: fixed;
    top: 50%;
    right: 30px;
    background: rgba(238,236,236,0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(219, 219, 219, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}
.stick-buttons-group div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-label-primary {
    background-color:  var(--bs-primary-bg-subtle) !important;
    color: var(--bs-primary) !important;
    border-color: transparent !important;
}
.btn-label-primary:focus{
    background-color: var(--bs-primary) !important;
    color: var(--bs-white) !important;
}

.btn-label-success {
    background-color:  var(--bs-success-bg-subtle) !important;
    color: var(--bs-success) !important;
    border-color: transparent !important;
}
.btn-label-success:focus{
    background-color: var(--bs-success) !important;
    color: var(--bs-white) !important;
}
.btn-label-warning {
    background-color:  var(--bs-warning-bg-subtle) !important;
    color: var(--bs-warning) !important;
    border-color: transparent !important;
}
.btn-label-warning:focus{
    background-color: var(--bs-warning) !important;
    color: var(--bs-white) !important;
}
.btn-label-danger {
    background-color:  var(--bs-danger-bg-subtle) !important;
    color: var(--bs-danger) !important;
    border-color: transparent !important;
}
.btn-label-danger:focus{
    background-color: var(--bs-danger) !important;
    color: var(--bs-white) !important;
}
.btn-label-info {
    background-color:  var(--bs-info-bg-subtle) !important;
    color: var(--bs-info) !important;
    border-color: transparent !important;
}
.btn-label-info:focus{
    background-color: var(--bs-info) !important;
    color: var(--bs-white) !important;
}