/* .card{
    -webkit-box-shadow: 0 9.5px 17px 0 #dddddd;
    -moz-box-shadow: 0 9.5px 17px 0 #dddddd;
    box-shadow: 0 9.5px 17px 0 #dddddd;
} */
.col .card{
    min-width: 300px;
}

/* CUSTOM CARD CSS */
.card{
    border-radius: 5px !important;
    box-shadow:  0 2px 14px rgba(38, 60, 85, 0.16);
}