/* .card{
    -webkit-box-shadow: 0 9.5px 17px 0 #dddddd;
    -moz-box-shadow: 0 9.5px 17px 0 #dddddd;
    box-shadow: 0 9.5px 17px 0 #dddddd;
} */
.col .card{
    min-width: 300px;
}

/* CUSTOM CARD CSS */
.card, nav{
    border-radius: 5px !important;
    box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 0.13) !important;
}