/* DATATABLE BOTTOM CSS  */
.bottom .dataTables_paginate .paginate_button {
    background-color: var(--bs-secondary-bg-subtle) !important;
    border-radius: 5px !important;
    border: none !important;
    margin: 3px !important;
    color: var(--text-color) !important;
    text-decoration: none !important;
}

.bottom .dataTables_paginate span .paginate_button {
    background-color: var(--bs-secondary-bg-subtle) !important;
    color: var(--text-color) !important;
}

.bottom .dataTables_paginate span .paginate_button.current {
    background-color: var(--bs-primary) !important;
    color: white !important;
}

.bottom .dataTables_paginate span .paginate_button:hover {
    background-color: var(--bs-primary) !important;
    color: white !important;
}

.bottom .dataTables_paginate .paginate_button.next,
.bottom .dataTables_paginate .paginate_button.previous {
    background-color: var(--bs-primary) !important;
    color: white !important;
}

.bottom .dataTables_paginate .paginate_button.next:hover,
.bottom .dataTables_paginate .paginate_button.previous:hover {
    background-color: var(--bs-primary) !important;
    color: white !important;
}

.bottom .dataTables_paginate .paginate_button.disabled,
.bottom .dataTables_paginate .paginate_button.disabled:hover,
.bottom .dataTables_paginate .paginate_button.disabled:focus {
    background-color: var(--bs-secondary-bg-subtle) !important;
    color: var(--text-color) !important;
    cursor: not-allowed !important;
    opacity: 0.6 !important;
}
.card .card-datatable .table-responsive table thead{
    margin-top: 20px !important;
}
.card-datatable th{
    font-weight: 500 !important;
    padding: 20px 10px !important;
}
.card-datatable td{
    font-weight: 500 !important;
    padding: 20px 10px !important;
}

/* DATATABLE TOP CSS  */
.table-responsive .bottom{
    margin-top: 20px !important;
}
.table-responsive .top input{
    padding: 0.4375rem 1.2em !important;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    color: #697a8d !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-clip: padding-box;
    border: var(--bs-border-width) solid #d9dee3 !important;
    border-radius: var(--bs-border-radius) !important;
    transition: border-color 0.15sease-in-out, box-shadow 0.15sease-in-out;
}
.table-responsive .top select{
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%2867, 89, 113, 0.6%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    width: 70px;
    padding: 0.4375rem .7em !important;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    color: #697a8d !important;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #fff;
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.875rem center;
    background-size: 17px 12px;
    border: var(--bs-border-width) solid #d9dee3 !important;
    border-radius: var(--bs-border-radius) !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
  .table-responsive .top input:focus ,
  .table-responsive .top select:focus{
    color: #697a8d;
    background-color: #fff;
    border-color: rgba(249, 249, 255, 0.54);
    outline: 0;
    box-shadow: 0 0 0.25rem 0.05rem rgba(105, 108, 255, 0.1);
    border: 1px solid var(--bs-primary) !important;
  }