@import "alert.css";
@import "badge.css";
@import "breadcrumbs.css";
@import "button.css";
@import "demo.css";
@import "forms.css";
@import "input.css";
@import "modal.css";
@import "pagination.css";
@import "table.css";
@import "tracker.css";
@import "cards.css";

@import "pages/dashboard.css";
@import "pages/login.css";

@import "layout/layout.css";
@import "layout/sidebar.css";
@import "layout/navbar.css";



/* MEETING DETAILS CSS */
.fade-bg-con{
  width: 100%;
  /* border: 1px dashed red; */
  height: 200px;
  position: relative;
}
.fade-bg-con::before{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #ffffff;
  background: -webkit-linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
}
.meeting-head-text{
  position: absolute;
  bottom: 0;
  left: 0;
  /* border: 1px dashed red; */
  width: 100%;
  padding: 20px;
  /* overflow-y: scroll; */
}
.fade-bg-con img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* FOR SUBMIT PROPOSAL */
.c-field-p{
    position: relative;
    /* border: 1px dashed red; */
  }
  .search-drop-card{
    position: absolute;
    top: 80px;
    z-index: 10;
  }
  .search-drop-card ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .proponent-con{
    padding: 15px;
    min-height: 170px !important;
    /* background-color: var(--bs-body-bg); */
  }
  .proponent-con ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .proponent-con ul li{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--bs-secondary-border-subtle);
    background-color: var(--bs-white);
  }

  
/* Dropzone Custom CSS */
.dropzone{
    border: 1px dashed  var(--bs-secondary-border-subtle) !important;
    border-radius: 7px !important;
}

/* PROPOSAL CSSS */
.proposal-file-con{
  border: 1px dashed var(--bs-secondary-border-subtle);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.proposal-file-card{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.proposal-file-card .checkbox-wrapper{
  position: absolute;
  top: 8px;
  left: 13px;
  display: flex;
  gap: 16px;
  align-items: center;
}
.proposal-file-card .checkbox-wrapper small{
  font-weight: 600;
  color: #3D4953;
  font-size: .75em;
}
.proposal-file-card-body{
  cursor: pointer;
}
.proposal-file-card-header{
  position: absolute;
  top: 45px;
  left: 7px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.proposal-file-card-header .custom-badge{
  background: rgba(145,156,255,0.2);
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  border: 1px solid rgba(150, 212, 199,0.3);
  padding: 3px 5px;
  border-radius: 5px;
  font-size: .8em;
  color: var(--bs-white);
}
.proposal-file-img{
  height: 125px;
  width: 125px;
  /* border: 1px dashed red; */
}
.proposal-file-img img{
  height: 100%;
  width: 100%;
}
.proposal-file-footer button{
  display: flex;
  align-items: center;
  gap: 3px;
  border: 0;
}
.proposal-file-footer button{
  font-size: .6em;
}
.proposal-file-footer button i{
  font-size: 1em;
}


/* COMMENT SECTION */
.com-wrapper{
  /* border: 1px dashed red; */
  margin-bottom: 20px;
}
.reciever,
.sender{
 width: 70% !important;
}
.sender .card{
  background-color: var(  --bs-primary-bg-subtle);
}

.reciever .card{
  background-color: var(  --bs-secondary-bg-subtle);
}
.com-sec-header{
  -webkit-box-shadow: 0 13px 20.5px -7.5px #ddd;
  -moz-box-shadow: 0 13px 20.5px -7.5px #ddd;
  box-shadow: 0 13px 20.5px -7.5px #ddd;
  height: 60px;
}
.proposal-action-wrapper{
  position: relative;
  /* overflow: hidden; */
  height: 100%;
}
.com-sec-header{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10 !important;
}
.comment-area{
  z-index: 5 !important;
  margin-top: 60px;
  /* border: 1px dashed red; */
  overflow-y: scroll;
  /* height: 400px;
  max-height: 650px; */
  min-height: 400px;
  height: 100%;
  margin-bottom: 160px;
}
.comment-area>div{
  padding: 25px;
}
.porposal-action-con{
  z-index: 1000 !important;
  position: absolute;
  bottom: 0;
  -webkit-box-shadow: 3px -7.5px 18px -1.5px #ddd;
-moz-box-shadow: 3px -7.5px 18px -1.5px #ddd;
box-shadow: 3px -7.5px 18px -1.5px #ddd;
  width: 100%;
  background-color: white;
  /* display: none; */
  border-radius: 0 0 10px 10px;
}



/* RESPONSICE MEDIA QUERY */
@media only screen and (max-width: 700px) {
  .navbar-nav-text {
    display: none;
  }
  .user-info-dashboard .user-profile{
    width: 80px;
    height: 80px;
    border-radius: 6px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 600px) {
  .meeting-sub-details {
    display: none !important;
  }
}
@media only screen and (max-width: 500px) {
  nav .user-info {
    display: none;
  }
}