.sortable-ghost {
    background-color: #f1f1f1;
    opacity: 0.7;
}

/* CUSTOM TAB */

.custom_tab_list{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
.custom_tab_item.active{
    border-bottom: 5px solid var(--bs-primary);
    color: var(--bs-primary);
}
.custom_tab_item:hover{
    color: var(--bs-primary);
    /* transition: .5s; */
}
.custom_tab_item{
    padding: 20px 25px; 
    cursor: pointer;
}
.custom_tab_item div{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;
}
.custom_tab_item div span{
    text-wrap: nowrap;
}

.custom-tbl-header{
    /* background-color: #F2F3F7; */
    /* background-color: var(--bs-primary); */
    /* color: var(--bs-white); */
    border: none !important;
}

.custom-tbl-header th,
.custom-tbl-header tr{
    /* color: var(--bs-primary) !important; */
     /* color: var(--bs-white) !important; */
}
/* .custom-tbl-header th{
    padding: 15px 10px !important;
} */
tr{
    border-bottom: 1px solid #e8e8e8 ;
}
td{
    color: #646E78 !important;
    font-weight: 400 !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}


/* CREATE GROUP IN ORDER BUSSINESS CSS*/
.selected-row {
    background-color: var(--bs-primary-bg-subtle) !important;
    border: 1px solid var(--bs-white) !important;
    border-left: 4px solid var(--bs-primary) !important;
}

/* .tr-group{
    background-color: var(--bs-secondary-bg-subtle);
} */