.logo{
    height: 30px;
    width: 30px
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo-con a{
    font-family: "Boldonse", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3em;
    color: var(--bs-primary);
    cursor: pointer;
    margin: 0;
}

.menu-link{
    gap: 8px !important;
}

/* CUSTOM COLOR FOR ACTIVE MENU ITEM IN SIDEBAR */
.layout-wrapper:not(.layout-horizontal) .bg-menu-theme .menu-inner .menu-item.active .menu-link {
    background-color: #E4ECFB !important;
}
.bg-menu-theme.menu-vertical{
    box-shadow: -8px 20px 28px 6px rgba(25, 42, 70, 0.13) !important;
}
/* .bg-menu-theme.menu-vertical{
    background-color: transparent !important;
    border-right: 1px solid #DFE3E7 !important;
    box-shadow: none    !important;
} */